h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 15px;
    font-size: 50px;
    color: aliceblue;
  }
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: 50px;
    background-color: rgb(141, 184, 214);
    padding: 15px;
    background-image: url(images/IMG_20200928_182619.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .project {
    border: 1px outset gainsboro;
    height: 250px;
    width: 450px;
    border-radius: 30px;
    padding: 15px;
    margin: 5px;
  }
  .avaptistoi {
    background-color: rgb(43, 3, 3);
  }
  .hydrama {
    background-color: rgb(2, 73, 73);
  }
  .skypeoncrack {
    background-color: rgb(14, 0, 0);
  }
  .soundcloud {
    background-color: rgb(105, 87, 27);
    float:right;
  }
  .projectimage {
    width: 150px;
    border-radius: 75px;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 4px;
  }
  .tinyimage {
    width: 85px;
    float: right;
  }
  .projectname {
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
  }
  .projectlink {
    font-size: 18px;
    color: rgb(180, 220, 255);
  }
  .projectdescription {
    font-size: 16px;
    color: aliceblue;
  }
  .projecttitle {
    text-align: left;
  }