body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 50px;
    background-color: rgb(141, 184, 100);
    padding: 15px;
    background-image: url(images/IMG_20200928_182619.jpg);
    background-repeat: no-repeat;
    background-color: #333;
    background-size: cover;
    background-attachment: fixed;
}

.topnav {
    background-color: #272727;
    overflow: hidden;
    opacity: 90%;
}
.topnav tabbar{
    background-color: #1f1f1f;
}

.topnav tab {
    font-family: "FreeMono", monospace;
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav tab:hover {
    background-color: #ddd;
    color: black;
}

.top-header {
    font-family: "FreeMono", monospace;
    padding: 15px;
    font-size: 40px;
    letter-spacing: 0.3cap;
    color: aliceblue;
    margin: auto;
    text-align: center;
    opacity: 80%;
}

.article {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background: rgba(53, 53, 53, 0.85);

    overflow: hidden;
    align-items: center;
}

.article h2{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.article container {
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    width: 85%;
    display: inline-block;
    background: rgba(54, 54, 54, 0.65);
}

.article imgbox{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    float: right;
    padding: 5px;
    background: rgba(36, 36, 36, 0.349);
    margin-left: 5px;
}

.article imgbar{
    display:flex;
    gap: 2px;
    align-items: center;
    flex-direction: row;
}

.article img{
    opacity: 100%;
    width: 250px;
}

.article text {
    color: aliceblue;
    font-size: medium;
}

.article a:link{
    color: aliceblue;
}

.article a:visited{
    color: aliceblue;
}

.article a:hover{
    color:aqua;
}